<!DOCTYPE html>

<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta charset="UTF-8"/>
    <title>小米商城 - 小米MIX 3、小米8、红米6 Pro、小米电视官方网站</title>
    <meta name="description"
          content="小米商城直营小米公司旗下所有产品，囊括小米手机系列小米MIX 3、小米8、小米Note 3，红米手机系列红米5 Plus、红米6 Pro，智能硬件，配件及小米生活周边，同时提供小米客户服务及售后支持。"/>
    <meta name="keywords" content="小米,小米8,小米Note3,红米5Plus,小米MIX3,小米商城"/>
    <meta name="viewport" content="width=1226"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//s01.mifile.cn"/>
    <link rel="dns-prefetch" href="//c1.mifile.cn"/>
    <link rel="dns-prefetch" href="//i3.mifile.cn"/>
    <link rel="dns-prefetch" href="//i2.mifile.cn"/>
    <link rel="dns-prefetch" href="//i1.mifile.cn"/>
    <link rel="dns-prefetch" href="//i8.mifile.cn"/>
    <link rel="dns-prefetch" href="//v.mifile.cn"/>
    <link rel="dns-prefetch" href="//a.huodong.mi.cn"/>

    <link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon"/>
    <link rel="search" title="mi.com" href="//s1.mi.com/search.xml?v1.0" type="application/opensearchdescription+xml"/>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="//s01.mifile.cn/css/base.min.css?v2018122901a"/>
    <link rel="stylesheet" href="//s01.mifile.cn/css/index.min.css?bb9ecc"/>
    <script type="text/javascript">
        var _head_over_time = (new Date()).getTime();
    </script>
</head>

<body>
<div class="site-topbar">
    <div class="container">
        <div class="topbar-nav">
            <a rel="nofollow" href="">Select Region</a>
        </div>
        <!--
            作者：Posture_Cc@163.com
            时间：2019-01-01
            描述：第三方登录可以写在这里
        -->
        <!--<div class="topbar-cart" id="J_miniCartTrigger">
            <a rel="nofollow" class="cart-mini" id="J_miniCartBtn" href="">
                </span>
            </a>
            <div class="cart-menu" id="J_miniCartMenu">
                <div class="loading">
                    <div class="loader"></div>
                </div>
            </div>
        </div>-->
        <div class="topbar-info" id="J_userInfo">
            <a rel="nofollow" class="link" href="javascript:void(0);" onclick="window.location.href='login'" data-agreement="true" data-login="true">登录</a>
            <span class="sep">|</span>
            <a rel="nofollow" class="link" href="" data-agreement="true" data-register="true">注册</a>
        </div>
    </div>
</div>
<!-- <a class="site-index-inform J_indexTopinform hide" href="" >
<i class="iconfont">&#xe90c;</i>小米将更新隐私政策，请您提前阅读并知悉。 <span class="btn btn-small">查看详情</span><i class="iconfont close J_closeInform" >&#xe602;</i>
</a>   -->
<div class="site-header">
    <div class="container">
        <div class="header-logo">
            <a class="logo ir" href="">小米官网</a>
        </div>
        <div class="header-nav">
            <ul class="nav-list J_navMainList clearfix">
                <li id="J_navCategory" class="nav-category">
                    <a class="link-category" href="">全部商品分类</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米MIX 3</a>
                                    </div>
                                    <p class="price">3299元起</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米8 青春版</a>
                                    </div>
                                    <p class="price">1399元起</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米8</a>
                                    </div>
                                    <p class="price">2699元起</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米Play 4GB+64GB</a>
                                    </div>
                                    <p class="price">1099元</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米Play 6GB+64GB</a>
                                    </div>
                                    <p class="price">1299元</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米Play 6GB+128GB</a>
                                    </div>
                                    <p class="price">1599元</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">红米6 Pro</a>
                                    </div>
                                    <p class="price">999元起</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">红米6</a>
                                    </div>
                                    <p class="price">799元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">红米6A</a>
                                    </div>
                                    <p class="price">599元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">红米Note 5</a>
                                    </div>
                                    <p class="price">1099元起</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米电视4S 75英寸</a>
                                    </div>
                                    <p class="price">7999元</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米电视4A 32英寸</a>
                                    </div>
                                    <p class="price">799元</p>
                                    <div class="flags">
                                        <div class="flag">热卖</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米电视4A 43英寸青春版</a>
                                    </div>
                                    <p class="price">1399元</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米电视4A 50英寸</a>
                                    </div>
                                    <p class="price">1899元</p>
                                    <div class="flags">
                                        <div class="flag">热卖</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米电视4A 55英寸</a>
                                    </div>
                                    <p class="price">2299元</p>
                                    <div class="flags">
                                        <div class="flag">热卖</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">查看全部<br/>小米电视</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href=""/> </a>
                                    </div>
                                    <p class="price">3599起</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href=""/> </a>
                                    </div>
                                    <p class="price">4999元起</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href=""/></a>
                                    </div>
                                    <p class="price">4199元起</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href=""/> </a>
                                    </div>
                                    <p class="price">5599元起</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米游戏本</a>
                                    </div>
                                    <p class="price">6699元起</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米平板</a>
                                    </div>
                                    <p class="price">1099元起</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">米家互联网洗烘一体机10kg</a>
                                    </div>
                                    <p class="price">1999元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">米家互联网空调（一级能效）</a>
                                    </div>
                                    <p class="price">2599元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">米家互联网空调</a>
                                    </div>
                                    <p class="price">1999元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米净水器</a>
                                    </div>
                                    <p class="price">1999元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">米家扫地机器人</a>
                                    </div>
                                    <p class="price">1699元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">新风机</a>
                                    </div>
                                    <p class="price">2499元</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米8 青春版</a>
                                    </div>
                                    <p class="price">1399元起</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米8 屏幕指纹版</a>
                                    </div>
                                    <p class="price">3199元起</p>
                                    <div class="flags">
                                        <div class="flag">新品</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米手环3 NFC版</a>
                                    </div>
                                    <p class="price">199元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米米家小白智能摄像机增强版</a>
                                    </div>
                                    <p class="price">399元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米小爱智能闹钟</a>
                                    </div>
                                    <p class="price">149元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米小爱蓝牙音箱随身版</a>
                                    </div>
                                    <p class="price">49元</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米路由器 4</a>
                                    </div>
                                    <p class="price">169元</p>
                                    <div class="flags">
                                        <div class="flag">双频双核</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米路由器 4Q</a>
                                    </div>
                                    <p class="price">99元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米路由器 3A</a>
                                    </div>
                                    <p class="price">99元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米路由器 3G</a>
                                    </div>
                                    <p class="price">179元</p>
                                    <div class="flags">
                                        <div class="flag">双千兆</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米路由器 HD/Pro</a>
                                    </div>
                                    <p class="price">499元起</p>
                                    <div class="flags">
                                        <div class="flag">大容量</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">查看全部小米路由器</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">
                        </span>
                    </a>
                    <div class="item-children">
                        <div class="container">
                            <ul class="children-list clearfix">
                                <li class="first">
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米米家智能摄像机云台版</a>
                                    </div>
                                    <p class="price">199元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">米家自动洗手机套装</a>
                                    </div>
                                    <p class="price">79元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米蓝牙耳机AirDots青春版</a>
                                    </div>
                                    <p class="price">199元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">小米小爱音箱mini</a>
                                    </div>
                                    <p class="price">169元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">米家电动剃须刀</a>
                                    </div>
                                    <p class="price">199元</p>
                                </li>
                                <li>
                                    <div class="figure figure-thumb">
                                        <a href=""/></a>
                                    </div>
                                    <div class="title">
                                        <a href="">查看全部<br/>智能硬件</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="">服务</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="link" href="">社区</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-search">
            <form id="J_searchForm" class="search-form clearfix" action="//search.mi.com/search" method="get">
                <label for="search" class="hide">站内搜索</label>
                <input class="search-text" type="search" id="search" name="keyword" autocomplete="off"
                       data-search-config="{'defaultWords':[{'Key':'小米6X','Rst':6},{'Key':'小米MIX&nbsp;2S','Rst':5},{'Key':'黑鲨游戏手机','Rst':3},{'Key':'红米Note&nbsp;5','Rst':6},{'Key':'红米5A','Rst':13},{'Key':'小米电视4C','Rst':5},{'Key':'电视32英寸','Rst':3},{'Key':'笔记本pro','Rst':5},{'Key':'空气净化器','Rst':11},{'Key':'净水器','Rst':8}]}"/>
                <input type="submit" class="search-btn iconfont" value="&#xe616;"/>
                <div class="search-hot-words">
                    <!--
                        作者：Posture_Cc@163.com
                        时间：2019-01-01
                        描述：搜索框中的默认值 单击可直接进行搜索
                    -->
                    <!--<a href="">洗烘一体机</a>-->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="home-hero-container container">
    <div class="home-hero">
        <div class="home-hero-slider">
            <div id="J_homeSlider" class="xm-slider" data-stat-title="焦点图轮播">
                <div class="slide loaded exposure">
                    <!--单击时可以使用在标签中加以属性target="_blank"意思是单击超链接打开新窗口-->
                    <a href="" data-stat-aid="AA21300" data-stat-pid="2_15_1_67"
                       data-log_code="31pchometop_slide001001#t=normal&act=other&page=home&bid=3030335.1&adm=5814"><img
                            src="//i1.mifile.cn/a4/xmad_15460103888448_KGpml.jpg"
                            srcset="//i1.mifile.cn/a4/xmad_15460103925513_cwhnk.jpg 2x"/></a>
                </div>

                <div class="slide exposure"
                     data-bg-set="{'img':'//i1.mifile.cn/a4/xmad_15460105665204_tIHOo.jpg','imgHd':'//i1.mifile.cn/a4/xmad_15460105704125_NrHoC.jpg'}">
                    <a href="" data-stat-aid="AA21151" data-stat-pid="2_15_2_68"
                       data-log_code="31pchometop_slide002001#t=normal&act=other&page=home&bid=3030335.2&adm=5715"></a>
                </div>

                <div class="slide exposure"
                     data-bg-set="{'img':'//i1.mifile.cn/a4/xmad_154592128461_jKUWy.jpg','imgHd':'//i1.mifile.cn/a4/xmad_15459212893185_TzyNU.jpg'}">
                    <a href="" data-stat-aid="AA21290" data-stat-pid="2_15_3_69"
                       data-log_code="31pchometop_slide003001#t=normal&act=other&page=home&bid=3030335.3&adm=5765"></a>
                </div>

                <div class="slide exposure"
                     data-bg-set="{'img':'//i1.mifile.cn/a4/xmad_15445210595712_RkKfz.jpg','imgHd':'//i1.mifile.cn/a4/xmad_15445210638902_CPQNF.jpg'}">
                    <a href="" data-stat-aid="AA21309" data-stat-pid="2_15_4_70"
                       data-log_code="31pchometop_slide004001#t=normal&act=other&page=home&bid=3030335.4&adm=5779"></a>
                </div>

                <div class="slide exposure"
                     data-bg-set="{'img':'//i1.mifile.cn/a4/xmad_15456576627772_VELvh.jpg','imgHd':'//i1.mifile.cn/a4/xmad_15456576690211_eFvMU.jpg'}">
                    <a href="" data-stat-aid="AA21303" data-stat-pid="2_15_5_71"
                       data-log_code="31pchometop_slide005001#t=normal&act=other&page=home&bid=3030335.5&adm=5817"></a>
                </div>

            </div>
        </div>

        <!--<div class="home-hero-sub row">
            <div class="span4">
                <ul class="home-channel-list clearfix">
                    <li class="exposure top left">
                        <a href="">&#xe908;</i>选购手机</a>
                    </li>
                    <li class="exposure top">
                        <a href="">&#xe905;</i>企业团购</a>
                    </li>
                    <li class="exposure top">
                        <a href=""></i>F码通道</a>
                    </li>
                    <li class="exposure left">
                        <a href=""></i>米粉卡</a>
                    </li>
                    <li class="exposure ">
                        <a href="">&#xe904;</i>以旧换新</a>
                    </li>
                    <li class="exposure ">
                        <a href="">&#xe907;</i>话费充值</a>
                    </li>
                </ul>
            </div>
            <div class="span16" id="J_homePromo" data-stat-title="焦点图下方小图">
                <ul class="home-promo-list clearfix">
                    <li class="first">
                        <a class="item exposure" href="" /></a>
                    </li>
                    <li>
                        <a class="item exposure" href="" /></a>
                    </li>
                    <li>
                        <a class="item exposure" href="" /></a>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>

    <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-hero" data-index="1"></div>
</div>

<!--商品展示页 暂时未使用-->
<!--<div class="page-main home-main">
    <div class="container">
        <div id="phone" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox no-comment-total" data-from-stat="false">
            <div class="box-hd">
                <h2 class="title">手机</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
        <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-brick" data-index="2"></div>
        <div id="homeelec" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox no-comment-total" data-from-stat="false">
            <div class="box-hd">
                <h2 class="title">家电</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
        <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-brick" data-index="3"></div>
        <div id="smart" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox no-comment-total" data-from-stat="false">
            <div class="box-hd">
                <h2 class="title">智能</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
        <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-brick" data-index="4"></div>
        <div id="match" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox" data-from-stat="true" data-region-stat="1">
            <div class="box-hd">
                <h2 class="title">搭配</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
        <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-brick" data-index="5"></div>
        <div id="accessories" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox" data-from-stat="true" data-region-stat="1">
            <div class="box-hd">
                <h2 class="title">配件</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
        <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-brick" data-index="6"></div>
        <div id="around" class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox" data-from-stat="false">
            <div class="box-hd">
                <h2 class="title">周边</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
        <div class="J_itemBox J_homeBanner hide home-banner-box home-banner-box-brick" data-index="7"></div>

        <div id="recommend" class="home-recm-box home-brick-box home-brick-row-1-box xm-plain-box J_itemBox J_recommendBox" data-region-stat="1">
            <div class="box-hd">
                <h2 class="title">为你推荐</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div id="recommend-bd" class="box-bd J_brickBd J_recommend-like"></div>
        </div>
        <div id="comment" class="home-review-box xm-plain-box J_itemBox J_reviewBox">
            <div class="box-hd">
                <h2 class="title">热评产品</h2>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>

        <div id="content" class="home-content-box xm-plain-box J_itemBox J_contentBox">
            <div class="box-hd">
                <h2 class="title">内容</h2>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>

        <div id="video" class="home-video-box xm-plain-box J_itemBox J_videoBox">
            <div class="box-hd">
                <h2 class="title">视频</h2>
                <div class="more J_brickNav"></div>
            </div>
            <div class="box-bd J_brickBd"></div>
        </div>
    </div>
</div>-->

<script type="text/x-dot-template" id="J_flashgoodList">
    {{~it :value:index}}
    <li class="item rainbow-item-{{=index+1}}">
        <a href="">
            <div class="bg"></div>
        </a>
        <div class="content">
            <a class="thumb exposure">
                {{? value.pc_img}}
                <img src="{{=value.pc_img}}" alt=""/> {{?}} {{? !value.pc_img}}
                <div class="img_empty"></div>
                {{?}}
            </a>
            <h3 class="title"><a>{{=value.goods_name}}</a></h3>
            <p class="desc">{{=value.desc}}</p>
            <p class="price">
                {{? value.seckill_Price}}
                <span>{{= value.seckill_Price}}</span>&nbsp;<span>元</span>&nbsp; {{ if( parseFloat(value.seckill_Price)
                < parseFloat(value.goods_price) ){ }}
                <del>{{=value.goods_price}}元</del>
                {{ } }} {{?}}
            </p>
            {{?value.label_text}}
            <div class="flag flag-saleoff"> {{=value.label_text}}</div>
            {{?}}
        </div>
    </li>
    {{~}}
</script>
<div id="J_modalVideo" class="modal modal-video fade modal-hide">
    <div class="modal-hd">
        <h3 class="title">视频播放</h3>
        <a class="close" data-dismiss="modal" href="">&#xe602;</i>
        </a>
    </div>
    <div class="modal-bd">
        <div class="loading">
            <div class="loader"></div>
        </div>
    </div>
</div>

<!-- 右侧栏入口按钮 & 返回顶部 -->
<div class="home-right-bar J_homeRightBar">
    <div class="bar-l">
        <div id="J_rightbar_l"></div>
        <a class="bar-totop bar-sort J_barToTop J_barToTopL hidden" href="">
            <div class="bar-img">
                <img class="original-img" src="//i1.mifile.cn/f/i/2018/home/totop.png">
                <img class="hover-img" src="//i1.mifile.cn/f/i/2018/home/totop_hover.png">
            </div>
            <p class="bar-text">回顶部</p>
        </a>
    </div>
    <div class="bar-s">
        <div id="J_rightbar_s"></div>
        <a href="">
            <div class="bar-img">
                <img class="original-img" src="//i1.mifile.cn/f/i/2018/home/totop.png">
                <img class="hover-img" src="//i1.mifile.cn/f/i/2018/home/totop_hover.png">
            </div>
            <div class="bar-pop">
                <div class="bar-arrow"></div>
                <p class="bar-pop-text">回顶部</p>
            </div>
        </a>
    </div>
</div>

<script id="J_rightbartempl_l" type="text/x-dot-template">
    <ul class="bar-top">
        {{~it:value:index}} {{? value.type && value.button_title && value.button_img && value.button_hover_img}} {{?
        value.type === 'image'}} {{? value.qrcode_img && value.qrcode_title}}
        <li class="bar-sort bar-sort-qr">
            <a href="">
                <div class="bar-img">
                    <img class="original-img" src="{{= value.button_img}}">
                    <img class="hover-img" src="{{= value.button_hover_img}}">
                </div>
                <p class="bar-text">{{= value.button_title}}</p>
                <div class="bar-pop">
                    <div class="bar-pop-content">
                        <img src="{{= value.qrcode_img}}" class="bar-pop-qr">
                        <p class="bar-pop-text">{{= value.qrcode_title}}</p>
                    </div>
                    <div class="bar-arrow"></div>
                </div>
            </a>
        </li>
        {{?}} {{?? value.type === 'cart'}} {{? value.jump_url}}
        <li class="bar-sort bar-l-car">
            <a href="">
                <div class="bar-img">
                    <img class="original-img" src="{{= value.button_img}}">
                    <img class="hover-img" src="{{= value.button_hover_img}}"> {{? value.carnum > 0 }}
                    <span class="bar-car J_barLMum J_homeRightbarCarNum">{{= value.carnum}}</span> {{??}}
                    <span class="bar-car hidden J_barLMum J_homeRightbarCarNum">{{= value.carnum}}</span> {{?}}
                </div>
                <p class="bar-text">{{= value.button_title}}</p>
                <div class="pop"></div>
            </a>
        </li>
        {{?}} {{??}} {{? value.jump_url}}
        <li class="bar-sort">
            <a href="">
                <div class="bar-img">
                    <img class="original-img" src="{{= value.button_img}}">
                    <img class="hover-img" src="{{= value.button_hover_img}}">
                </div>
                <p class="bar-text">{{= value.button_title}}</p>
            </a>
        </li>
        {{?}} {{?}} {{?}} {{~}}
    </ul>
</script>
<script id="J_rightbartempl_s" type="text/x-dot-template">
    <ul class="bar-top">
        {{~it:value:index}} {{? value.type && value.button_title && value.button_img && value.button_hover_img}} {{?
        value.type === 'image'}} {{? value.qrcode_img && value.qrcode_title}}
        <li class="bar-sort bar-sort-qr bar-s-qr">
            <a href="">
                <div class="bar-img">
                    <img class="original-img" src="{{= value.button_img}}">
                    <img class="hover-img" src="{{= value.button_hover_img}}">
                </div>
                <div class="bar-pop">
                    <div class="bar-pop-content">
                        <img src="{{= value.qrcode_img}}" class="bar-pop-qr">
                        <p class="bar-pop-text">{{= value.qrcode_title}}</p>
                    </div>
                    <div class="bar-arrow"></div>
                </div>
            </a>
        </li>
        {{?}} {{?? value.type === 'cart'}} {{? value.jump_url}}
        <li class="bar-sort bar-s-car">
            <a href="">
                <div class="bar-img">
                    <img class="original-img" src="{{= value.button_img}}">
                    <img class="hover-img" src="{{= value.button_hover_img}}"> {{? value.carnum > 0 }}
                    <span class="bar-car J_barSMumicon J_homeRightbarCarNum"></span> {{??}}
                    <span class="bar-car hidden J_barSMumicon J_homeRightbarCarNum"></span> {{?}}
                </div>
                <div class="bar-pop">
                    <div class="bar-arrow"></div>
                    <p class="bar-pop-text">购物车（<span class="J_barSMum J_homeRightbarCarNum">{{= value.carnum}}</span>）
                    </p>
                </div>
            </a>
        </li>
        {{?}} {{?? }} {{? value.jump_url}}
        <li class="bar-sort">
            <a href="">
                <div class="bar-img">
                    <img class="original-img" src="{{= value.button_img}}">
                    <img class="hover-img" src="{{= value.button_hover_img}}">
                </div>
                <div class="bar-pop">
                    <div class="bar-arrow"></div>
                    <p class="bar-pop-text">{{= value.button_title}}</p>
                </div>
            </a>
        </li>
        {{?}} {{?}} {{?}} {{~}}
    </ul>

</script>

<script src="/js/main/main.js"></script>
<div class="site-footer">
    <div class="container">
        <div class="footer-service">
            <ul class="list-service clearfix">
                <li>
                    <a rel="nofollow" href="">&#xe634;</i>预约维修服务</a>
                </li>
                <li>
                    <a rel="nofollow" href="">&#xe635;</i>7天无理由退货</a>
                </li>
                <li>
                    <a rel="nofollow" href="">&#xe636;</i>15天免费换货</a>
                </li>
                <li>
                    <a rel="nofollow" href="">&#xe638;</i>满150元包邮</a>
                </li>
                <li>
                    <a rel="nofollow" href="">&#xe637;</i>520余家售后网点</a>
                </li>
            </ul>
        </div>
        <!--<div class="footer-links clearfix">

            <dl class="col-links col-links-first">
                <dt>帮助中心</dt>

                <dd>
                    <a rel="nofollow" href="">账户管理</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">购物指南</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">订单操作</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>服务支持</dt>

                <dd>
                    <a rel="nofollow" href="">售后政策</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">自助服务</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">相关下载</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>线下门店</dt>

                <dd>
                    <a rel="nofollow" href="">小米之家</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">服务网点</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">授权体验店</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>关于小米</dt>

                <dd>
                    <a rel="nofollow" href="">了解小米</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">加入小米</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">投资者关系</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>关注我们</dt>

                <dd>
                    <a rel="nofollow" href="">新浪微博</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">官方微信</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">联系我们</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>特色服务</dt>

                <dd>
                    <a rel="nofollow" href="">F 码通道</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">礼物码</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="">防伪查询</a>
                </dd>

            </dl>

            <div class="col-contact">
                <p class="phone">400-100-5678</p>
                <p>
                    周一至周日 8:00-18:00<br>（仅收市话费）
                </p>
                <a rel="nofollow" class="btn btn-line-primary btn-small" href="">&#xe600;</i> 联系客服</a>
            </div>
        </div>-->
    </div>
</div>
<div class="site-info">
    <!--<div class="container">
        <div class="logo ir">小米官网</div>
        <div class="info-text">
            <p class="sites">
                <a rel="nofollow" href="">Select Region</a>
            </p>
            <p>&copy;
                <a href="">mi.com</a> 京ICP证110507号
                <a href="">京ICP备10046444号</a>
                <a rel="nofollow" href="">京公网安备11010802020134号 </a>
                <a href="">京网文[2017]1530-131号</a> <br>
                <a href="">（京）网械平台备字（2018）第00005号
                </a>
                <a href="">互联网药品信息服务资格证 (京) -非经营性-2014-0090
                </a>
                <a href="">营业执照</a>
                <a href="">医疗器械公告</a>
                <br>
                <a href="">增值电信业务许可证</a>&nbsp; 网络食品经营备案（京）【2018】WLSPJYBAHF-12 &nbsp;
                <a href="">食品经营许可证</a>
                <br>违法和不良信息举报电话：185-0130-1238
                <a href='https://www.mi.com/static/intellectual/index.html' target="_blank">知识产权侵权投诉</a> 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
        </div>
        <div class="info-links">
            <a rel="nofollow" href="" /></a>
            <a rel="nofollow" href="" /></a>
            <a rel="nofollow" href="" /></a>
            <a rel="nofollow" href="" /></a>
            <a rel="nofollow" href="" /></a>
        </div>
    </div>-->
    <div class="slogan ir">探索黑科技，小米为发烧而生</div>
</div>

<script src="//s01.mifile.cn/js/base.min.js?v2018122901a"></script>
<script>
    (function () {
        MI.namespace('GLOBAL_CONFIG');
        MI.GLOBAL_CONFIG = {
            orderSite: '//order.mi.com',
            orderSSLSite: 'https://order.mi.com',
            wwwSite: '//www.mi.com',
            cartSite: '//cart.mi.com',
            itemSite: '//item.mi.com',
            assetsSite: '//s01.mifile.cn',
            listSite: '//list.mi.com',
            searchSite: '//search.mi.com',
            mySite: '//my.mi.com',
            damiaoSite: '//tp.hd.mi.com/',
            damiaoGoodsId: ["2160400006", "2160400007", "2162100004", "2162800010", "2155300001", "2155300002", "2163500025", "2163500026", "2163500027", "2164200021", "2142400036", "2170800008", "2171000055", "2171500039", "2171600005", "1171800032", "1171800031", "1171800030", "1171800035", "1171800034", "1171800033", "2171500038", "2171800016", "2171500037", "2171900024"],
            logoutUrl: '//order.mi.com/site/logout',
            staticSite: '//static.mi.com',
            quickLoginUrl: 'https://account.xiaomi.com/pass/static/login.html'
        };
        MI.setLoginInfo.orderUrl = MI.GLOBAL_CONFIG.orderSite + '/user/order';
        MI.setLoginInfo.logoutUrl = MI.GLOBAL_CONFIG.logoutUrl;
        MI.setLoginInfo.init(MI.GLOBAL_CONFIG);
        MI.miniCart.init();
        MI.updateMiniCart();
    })();
</script>
<script src="//s01.mifile.cn/js/home.min.js?e20884"></script>
<!-- <script src="//i1.mifile.cn/f/i/15/stat/js/xmsg_ti.js"></script> -->
<script>
    var _msq = _msq || [];
    _msq.push(['setDomainId', 100]);
    _msq.push(['trackPageView']);
    (function () {
        var ms = document.createElement('script');
        ms.type = 'text/javascript';
        ms.async = true;
        ms.src = '//s1.mi.com/stat/18/xmst.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ms, s);
    })();
</script>
<!--mae_monitor-->
</body>

</html>